@charset "UTF-8";

/* Esta hoja de estilos es utilizada por el header de la aplicacion para que el header permanezca presente en la pagina en la parte superior cuando
   en la pantalla se hace un scroll. El style .header es utilizado en el div del default.xhtml y el style .sticky es utilizado en el javascript onScrollHeader.js  */


 /* Style the header */
.header {
  padding: 10px 16px;
  background: #FFFFFF; 
  color: #f1f1f1;
  border-bottom: 4px solid green;
}


/* Page content */
.content {
  padding: 0px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
} 